@import url('https://fonts.googleapis.com/css?family=Montserrat');
$font-stack: 'Montserrat', sans-serif;
$font-color: #2c3e50;
$white-color: #fff;
$darkGray-color: #222;

html {
	font-family: $font-stack;
	font-smoothing: aliased;
  	box-sizing: border-box;
}
*, *::before, *::after {
	padding: 0; margin: 0;
	box-sizing: inherit;
}
[v-cloak] {
	display: none;
}

/*<-- HEADER SECTION -->*/
header {
	display: flex;
    flex-direction: row; flex-wrap: wrap;
    width: 100%; height: auto;
    background: $darkGray-color;
    padding: 1em 0;
    .news-banner {
		flex: 1 1 auto;
    	display: inline-flex;
    	align-self: center; justify-content: center;
    	.flag-container {
			background-image: url('../svg/ph.svg');
    		background-size: cover;
    		background-repeat: no-repeat;
    		box-sizing: content-box;
    		border: 1px solid $white-color; border-radius: 4px;
    		width: 3em; padding: 8px;
    	}
    	.banner-name {
			color: $white-color;
    		margin: 0 6px;
    		cursor: pointer;
    		> div {
    			span:first-child {
    				font-size: 35px;
    				font-weight: bold;
    				letter-spacing: -1px;
    			}
    			span:last-child {
    				font-size: 25px;
    				letter-spacing: -2px;
    			}
    		}
    		div:last-child {
    			font-size: 17px;
    		}
    	}
    }
    .news-date {
		flex: 1 1 auto;
    	display: flex;
    	align-self: center; justify-content: center;
    	flex-direction: column; flex-wrap: wrap;
    	padding: 0 2em; margin-top: 12px;
    	user-select: none;
    	span {
    		color: $white-color;
    		text-align: center;
    	}
    }
}

nav {
	margin: 3em auto;
	max-width: 1030px;
	.breadcrumb {
		display: flex; flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
		padding: 4px 16px;
		margin: 0 1em;
		background: rgba(62, 153, 204, .50);
		li {
			padding: 8px;
			list-style: none;
			font-size: 20px;
		}
		li+li::before {
			content: '/\00a0';
  			padding: 8px;
  			color: $white-color;
		}
		li a {
			color: $white-color;
			text-decoration: none;
			&:hover { color: darken($white-color, 10%); }
		}
		li a > span {
			position: relative;
			cursor: pointer;
			&::after {
				content: '';
				position: absolute;
				width: 100%; height: 2px;
				bottom: 0; left: 0;
  				transform: scaleX(0);
  				transform-origin: bottom;
  				transition: transform 0.25s ease-out;
			}
			&:hover::after {
				background: darken($white-color, 10%);
				transform: scaleX(1);
  				transform-origin: bottom center;
			}	
		}
	}
}

/*<-- MAIN SECTION -->*/
main {
	margin: 4em auto;
	max-width: 75em; min-width: 20em;
	#flex-layout {
		display: flex;
		justify-content: space-evenly;
		flex-direction: row; flex-wrap: wrap;
		margin: 0 1em;
		#news-headline {
			flex: 1 100%;
			max-width: 32em; height: 26em;
			margin-bottom: 1em;
			article {
				position: relative;
				display: flex;
				width: 100%; height: 100%;
				a { text-decoration: none; }
				figure {
					position: absolute;
					width: 100%; height: 85%;
					overflow: hidden;
					img {
						position: absolute;
						width: 100%; height: 100%;
						object-fit: cover;
						&:hover { opacity: 0.8; }
					}
					figcaption div {
						position: absolute;
						top: 0; left: 0;
						width: 100%; height: auto;
						background: rgba(0,0,0,.45); 
						h3 {
							color: $white-color;
							padding: 6px;
							&:hover { text-decoration: underline; }
						}
					}
					figcaption span {
						position: absolute;
						bottom: 0; right: 0;
						padding: 6px; color: $white-color;
					}
				}
			}
			.content-container {
				position: absolute;
				width: 100%; height: 15%;
				bottom: 0; left: 0;
				p {
					color: $font-color;
					padding: 6px;
					line-height: 18px;
				}
			}
		}
		#related-story {
			flex: 1 100%;
			max-width: 25em;
			margin-bottom: 1em;
			h3 {
				background: rgba(62, 153, 204, .50); 
        		color: $white-color;
        		padding: 5px 15px;
        		margin-bottom: 5px;
			}
			article {
				padding: 8px 2px;
				border-bottom: 1px solid $darkGray-color;
				a {
					color: $font-color;
					text-decoration: none;
					&:hover { text-decoration: underline; }
				}
			}
		}
	}
	#wrap-layout {
		margin: 2em auto;
		max-width: 1030px;
		position: relative;
		h3 {
			position: absolute;
        	top: 0; left: 0;
        	margin: 0 1em;
        	padding: 6px;
        	color: $white-color;
        	z-index: 1;
        	user-select: none;
		}
		#news-entertainment {
			margin: 0 1em;
			article {
				position: relative;
				display: inline;
				width: 15em; height: 13em;
				margin: 0 2px;
				a { text-decoration: none }
				figure {
					position: absolute;
					width: 100%; height: 85%;
					overflow: hidden;
					img{
						position: absolute; display: block;
						width: 100%; height: 100%;
						object-fit: cover;
						margin: 0 auto;
						transform: scale(1.2);
						transition: .5s ease-in-out;
						&:hover { 
							opacity: 0.8; 
							transform: scale(1);
						}
					}
					figcaption div {
						position: absolute;
						bottom: 0; left: 0;
						width: 100%; height: auto;
						background: rgba(0,0,0,.40);
						h5 {
							padding: 6px;
              				color: darken($white-color, 5%);
              				&:hover { text-decoration: underline; }
						}
					}
				}
			}
		}
	}
	#grid-layout {
		display: grid; grid-gap: 2em;
		grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    	grid-auto-rows: auto;
    	margin: 0 auto;
    	max-width: 1030px;
    	article {
    		margin: 0 1em;
    		a {
    			text-decoration: none;
    			img {
    				top: 0; left: 0;
          			width: 100%; height: auto;
          			&:hover { opacity: 0.8; }
    			}
    			figcaption div {
    				left: 0;
    				h4 {
            			color: $font-color;
			            padding: 4px;
			            &:hover { text-decoration: underline; }
          			}
          			p {
            			color: $darkGray-color;
            			padding: 4px;
            			line-height: 26px;
          			}
    			}
    		}
    	}
	}
}

/*<-- FOOTER SECTION -->*/
footer {
	display: block;
	width: 100%; height: auto;
	bottom: 0; left: 0;
	margin: 0 auto;
	padding: 1em 2em;
	background: $darkGray-color;
	.nav-list {
		display: flex;
		justify-content: center;
  		flex-direction: row;
  		flex-wrap: wrap;
  		li {
  			list-style: none;
  			line-height: 1.5em;
  			padding: 0 12px;
  			a {
  				cursor: pointer;
  				color: $white-color;
  				text-decoration: none;
  				&:hover {
  					color: darken($white-color, 25%);
  					text-decoration: underline;
  				}
  			}
  		}
	}
	.footer-list {
		display: flex;
  		justify-content: center;
  		flex-direction: row;
  		flex-wrap: wrap;
  		margin-top: 8px;
  		font-size: 14px;
  		color: darken($white-color, 25%);
  		.copyright span:nth-child(2), 
  		div {
			padding: 0 3px;
  		}
  		.attr-link a {
  			color: darken($white-color, 25%);
  			text-decoration: none;
  			&:hover {
				color: $white-color;
  				text-decoration: underline;
			}
  		}
	}
}